* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none !important;
}

html {
  font-family: "Cairo", sans-serif;
  cursor: default;
}

body {
  background: #F2F2F2;
  width: 100%;
  background-position: no-repeat;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #0046b2;
}

// -------------- General styles -----------------
.tab-link {
  font-weight: 400;
  text-decoration: none;
  color: black;
  font-size: 14px;

  @media (min-width: 700px) {
    font-size: 16px;
  }

  @media (min-width: 1200px) {
    font-size: 18px;
  }

}

.sub-title {
  font-weight: 700;

  @media (min-width: 500px) {
    font-size: 16px;
  }

  @media (min-width: 700px) {
    font-size: 20px;
  }

  @media (min-width: 1400px) {
    font-size: 24px;
  }

}

//// -------------- Layout  Style -----------------
.layout-container {
  padding: 0px 10px 12px 15px;

  @media (min-width: 700px) {
    padding: 0px 16px 24px 32px
  }

  @media (min-width: 1000px) {
    padding: 0px 27px 30px 48px
  }

}

//// --------------@@ Header Component Style @@-----------------
.navbar {
  background-color: '#FFFFFF';
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background-color: #ffffff;
  padding: 5px 10px;

  @media (min-width: 500px) {
    min-height: 50px;
    padding: 5px 15px;
  }

  @media (min-width: 700px) {
    min-height: 50px;
    padding: 12px 20px;
  }

  @media (min-width: 1000px) {
    min-height: 77px;
    padding: 26px 40px;
  }

  .logo {
    @extend .sub-title;
    text-decoration: none;
    color: #000000;
  }

  ul.tabs {
    list-style: none !important;
    display: flex;
    gap: 24px;

    .active-tab-link {
      @extend .tab-link;
      border-bottom: 2px solid black;
    }
  }
}

//// --------------@@ Search Box Component Style @@-----------------
.search-box-holder {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  padding: 15px 0px;
  height: 60px;
  margin: 0px -10px 12px -15px;

  @media (min-width: 700px) {
    height: 100px;
    padding: 20px 0px;
    margin: 0px -10px 30px -48px
  }

  @media (min-width: 1000px) {
    height: 144px;
    margin: 0px -27px 30px -48px;
    padding: 34px 0px;
  }

  .input-holder {
    width: 53%;
    position: relative;
    height: fit-content;

    .search-icon {
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translateY(-50%);
    }

    .search-input {
      outline: none;
      border: 1px solid #000000;
      width: 100%;
      border-radius: 5px;
      padding: 10px 10px;

      @media (min-width: 500px) {
        height: 50px;
        padding: 10px 20px;
      }

      @media (min-width: 1000px) {
        height: 75px;
        padding: 20px 15px;
      }

    }
  }
}

//// --------------@@ Page Title Component Style @@-----------------
.page-title {
  font-weight: 700;
  color: #000000;
  font-size: 20px;
  margin: 10px 0px 15px;

  @media (min-width: 700px) {
    font-size: 24px;
    margin: 20px 0px 30px;
  }

  @media (min-width: 1400px) {
    font-size: 48px;
    margin: 30px 0px 48px;
  }
}

//// --------------@@ Job Card Component Style @@-----------------
.job-card {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  padding: 10px 15px 10px 15px;

  @media (min-width: 700px) {
    padding: 20px 20px 15px 20px;
  }

  @media (min-width: 1000px) {
    padding: 20px 30px 20px 30px;
  }

  .job-card-title {
    font-weight: 700;
    color: #000000;
    margin-bottom: 10px;
    font-size: 18px;
    text-decoration: none;

    @media (min-width: 700px) {
      font-size: 20px;
      margin-bottom: 12px;
    }

    @media (min-width: 1400px) {
      font-size: 24px;
      margin-bottom: 16px;
    }
  }

  .job-card-subtitle {
    @extend .tab-link;
    margin-bottom: 10px;
  }

  .job-skills-holder {
    display: flex;
    gap: 9px;
    flex-wrap: wrap;
    margin-bottom: 8px;

    @media (min-width: 700px) {
      margin-bottom: 15px;
    }

    @media (min-width: 1400px) {
      margin-bottom: 30px;
    }

    .skill-item {
      background-color: #C4C4C4;
      border-radius: 5px;
      padding: 4px 8px;
      font-size: 12px;
      color: #000000;
      text-decoration: none;

      @media (min-width: 700px) {
        font-size: 14px;
        padding: 6px 10px;
      }

      @media (min-width: 1000px) {
        font-size: 16px;
        padding: 6px 12px;
      }
    }
  }

  .job-card-link {
    @extend .tab-link;
    color: #000000;
    text-decoration: underline;
  }
}

//// --------------@@ Job And Skill Card Component Style @@-----------------
.job-skill-card-holder {
  width: 100%;
  background-color: #F0F0F0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 10px 10px;
  gap: 12px;

  @media (min-width: 700px) {
    padding: 12px 20px;
    gap: 15px;
  }

  @media (min-width: 1400px) {
    padding: 20px 30px;
    gap: 24px;
  }


  .job-skill-card-title {
    @extend .sub-title;
    color: #272323;
    text-decoration: underline;
    cursor: pointer;
    width: fit-content;
  }

  .job-skill-card-description {
    font-weight: 400;
    font-size: 12px;

    @media (min-width: 700px) {
      font-size: 14px;
    }

    @media (min-width: 1400px) {
      font-size: 18px;
    }


  }

  .job-skill-info-holder {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  .job-skill-info {
    font-weight: 700;
    font-size: 12px;
    margin-right: 8px;

    @media (min-width: 700px) {
      font-size: 14px;
      margin-right: 12px;
    }

    @media (min-width: 1400px) {
      font-size: 18px;
      margin-right: 30px;
    }

    .job-skill-info-value {
      font-weight: 400;
    }
  }
}

//// --------------@@ Side Content Component Style @@-----------------
.side-content-holder {
  background-color: #D9D9D9;
  padding: 10px;

  @media (min-width: 700px) {
    padding: 18px;
  }

  @media (min-width: 1400px) {
    padding: 25px;
  }

  .side-content-tilte {
    font-size: 16px;
    margin-bottom: 10px;

    @media (min-width: 700px) {
      font-size: 20px;
      margin-bottom: 12px;
    }

    @media (min-width: 1400px) {
      font-size: 24px;
      margin-bottom: 25px;
    }
  }

  .side-links-holder {
    display: flex;
    flex-direction: column;
    gap: 5px;

    @media (min-width: 700px) {
      gap: 10px;
    }

    @media (min-width: 1400px) {
      gap: 15px;
    }

    .side-content-link {
      display: flex;
      align-items: center;
      color: #000000;
    }
  }
}

//// =============== Search Page Conatiner Style =============
.search-page-container {
  display: grid;
  min-height: 100vh;
  gap: 40px;

  @media (min-width: 500px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 1200px) {
    grid-template-columns: 2.5fr 1.5fr;
  }


  .search-page-left-side {
    width: 100%;
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr;

    @media (min-width: 700px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr;
    }


  }

  .search-page-right-side {
    width: 100%;
  }
}

//// =============== Job Page Conatiner Style ===============
.job-page-container {
  display: grid;
  gap: 30px;
  min-height: 100vh;

  @media (min-width: 500px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 1fr 1fr;
  }

}

//// =============== Job Page and Skill Conatiner Style ============
.info-page-container {
  display: grid;
  gap: 40px;
  min-height: 100vh;

  @media (min-width: 500px) {
    grid-template-columns: 1fr;
  }

  @media (min-width: 700px) {
    grid-template-columns: 2.5fr 1.5fr;
  }


  .info-left-side {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 15px;

    @media (min-width: 1200px) {
      padding: 30px;
    }
  }
}